.Modal {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 3;
}

.Modal__wrapper {
  background-color: white;
  border-radius: 6px;
  padding: 25px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.Modal__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.Modal__title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.Modal__close-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.Modal__close-icon {
  font-size: 18px;
  color: rgb(255, 20, 90);
}

.Modal__middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__file-input {
  background-color: rgba(42, 33, 65, 0.4);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.Modal__file-input::-webkit-file-upload-button {
  background-color: rgba(42, 33, 65, 1);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 7px;
  cursor: pointer;
}

.Modal__add-song-btn {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: rgba(42, 33, 65, 1);
  color: white;
  cursor: pointer;
}

.Modal__add-song-btn:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.Modal__error {
  text-align: center;
  color: red;
  font-family: sans-serif;
  font-size: 14px;
}
